@using System.Globalization
@using Microsoft.AspNet.Identity
@model GiveAidCharity.Models.HelperClass.CausesDetailViewModel

@{
    ViewBag.Title = "Cause Detail";
    //progress bar variable
    var ariaValuenow = Math.Round((Model.CurrentFund < Model.Goal ? 100 * Model.CurrentFund / Model.Goal : 100), 0);
    //var width = ariaValuenow.ToString(CultureInfo.InvariantCulture) + "%";
    var background = ariaValuenow < 20 ? "bg-danger" :
        ariaValuenow < 50 && ariaValuenow >= 20 ? "bg-warning" :
        ariaValuenow < 75 && ariaValuenow >= 50 ? "bg-info" : "bg-success";
    var animated = ariaValuenow >= 100 ? "" : "progress-bar-striped progress-bar-animated";

}
@* ReSharper disable  MarkupTextTypo *@
@Html.Hidden("ariaValuenowInput", ariaValuenow, new { id = "ariaValuenowInput" })
@section hero_wrap
{
    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
        <span class="mr-2">
            <a href="@Url.Action("Index")">Home</a>
        </span>
        <span class="mr-2">
            <a href="@Url.Action("Causes")">Causes</a>
        </span> <span>Cause Details</span>
    </p>
    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Cause Details</h1>
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">@Html.DisplayFor(model => model.Name)</h2>
                <div class="card w-100  ftco-animate mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Cause Progress</h5>
                        <p class="card-text">
                            $@Html.DisplayFor(model => model.CurrentFund) raised of $@Html.DisplayFor(model => model.Goal)
                        </p>
                        <div class="row">
                            <div class="col-12 col-md-9 col-lg-10">
                                <div class="progress h-100">
                                    <div class="progress-bar @animated @background cause-progress"
                                         role="progressbar" aria-valuenow="@ariaValuenow.ToString(CultureInfo.InvariantCulture)"
                                         aria-valuemin="0" aria-valuemax="100">
                                        @ariaValuenow %
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2 ml-auto mt-2 mt-md-0">
                                <button class="btn btn-primary mx-md-auto mt-auto w-100"
                                        data-toggle="collapse" data-target="#donateMethod"
                                        aria-expanded="false" aria-controls="donateMethod">
                                    Donate
                                </button>
                            </div>
                            <div class="collapse col-12" id="donateMethod">
                                <div class="row">
                                    <div class="col-md-12 mt-3 ftco-animate d-flex">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" name="paypalForm"
                                                  id="paypalForm" class="search-form d-none" method="post" target="_top">
                                                @Html.Hidden("cmd", "_donations")
                                                @Html.Hidden("custom", User.Identity.GetUserId())
                                                @Html.Hidden("currency_code", "USD")
                                                @Html.Hidden("return", Url.Action("PayPalResult", "Payment",
                                                    null, Request.Url?.Scheme))
                                                @Html.Hidden("cancel_return", Url.Action("CauseDetail", "Home",
                                                    new { id = Model.Id }, Request.Url?.Scheme))
                                                @Html.Hidden("notify_url", Url.Action("Receive", "PayPal",
                                                    null, Request.Url?.Scheme))
                                                @Html.Hidden("item_number", Model.Id)
                                                @Html.Hidden("item_name", "Donate to project" + Model.Name)
                                                @Html.Hidden("business", "sb-gboj43907912@business.example.com")
                                                <!-- PayPal Logo -->
                                            </form>
                                            <button class="btn btn-white bg-white border-0 mx-auto ml-md-auto mr-md-0" id="paypalbtn"
                                                    style="border-radius: 30px; padding: 10px 20px; outline: none !important">
                                                <span>
                                                    <img style="max-height: 20px"
                                                         src="https://res.cloudinary.com/senbonzakura/image/upload/v1582569686/Give%20Aid%20Project/Paypal_wdtla5.png" alt="" />
                                                </span>
                                            </button>

                                            <button class="btn btn-white bg-white border-0 mx-auto ml-md-2 mr-md-0"
                                                    data-toggle="modal" data-target="#exampleModalCenter"
                                                    style="border-radius: 30px; padding: 10px 20px; outline: none !important">
                                                <span>
                                                    <img style="max-height: 20px"
                                                         src="https://res.cloudinary.com/senbonzakura/image/upload/v1582377977/Give%20Aid%20Project/vnpaylogo_hgu1jj.png" alt="" />
                                                </span>
                                            </button>
                                        }
                                        else
                                        {
                                            <a class="btn btn-primary mx-auto ml-md-auto mr-md-0"
                                               href="@Url.Action("Login", "Account")">
                                                Login
                                            </a>
                                            <a class="btn btn-primary mx-auto ml-md-2 mr-md-0"
                                               href="@Url.Action("Register", "Account")">
                                                Register
                                            </a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <img src="@Model.CoverImg" alt="" class="img-fluid" style="width: 100%">
                </p>
                <p>@Html.DisplayFor(model => model.ContentPart1)</p>
                <p>@Html.DisplayFor(model => model.ContentPart2)</p>
                @foreach (var item in Model.ProjectImages)
                {
                    <p>
                        <img src="@item.Url" alt="" class="img-fluid" style="width: 100%">
                    </p>
                    <p>@item.Description</p>
                }
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">Life</a>
                        <a href="#" class="tag-cloud-link">Sport</a>
                        <a href="#" class="tag-cloud-link">Tech</a>
                        <a href="#" class="tag-cloud-link">Travel</a>
                    </div>
                </div>

                <div class="about-author d-flex p-5 bg-light">
                    <div class="bio align-self-md-center mr-5">
                        <img src="@(Model.HostAvatar ?? "../../Content/HomepageTheme/images/person_1.jpg")" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc align-self-md-center">
                        <h3>@Html.DisplayFor(model => model.HostName)</h3>
                        <p>
                            @* ReSharper disable  StringLiteralTypo *@
                            @(Model.HostDescription ?? "Lorem ipsum dolor sit amet, consectetur adipisicing elit. " +
                              "Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, " +
                              "sunt placeat nam vero culpa sapiente consectetur similique, " +
                              "inventore eos fugit cupiditate numquam!")
                        </p>
                        <p> @Model.HostEmail @Model.HostPhone </p>
                    </div>
                </div>


                <div class="pt-5 mt-5">
                    <h3 class="mb-5">@Model.ProjectComments.Count Comments</h3>
                    <ul class="comment-list">
                        @foreach (var item in Model.ProjectComments.Where(item => item.ParentId == null))
                        {
                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="~/Content/HomepageTheme/images/person_1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>@item.ApplicationUser.UserName</h3>
                                    <div class="meta">@item.CreatedAt</div>
                                    <p>@item.Content</p>
                                    <p>
                                        <a href="#" class="reply">Reply</a>
                                    </p>
                                </div>
                                <ul class="children">
                                    @foreach (var childcomment in Model.ProjectComments.Where(childcomment => childcomment.ParentId == item.Id))
                                    {
                                        <li class="comment">
                                            <div class="vcard bio">
                                                <img src="~/Content/HomepageTheme/images/person_1.jpg" alt="Image placeholder">
                                            </div>
                                            <div class="comment-body">
                                                <h3>@childcomment.ApplicationUser.UserName</h3>
                                                <div class="meta">@childcomment.CreatedAt</div>
                                                <p>@childcomment.Content</p>
                                                <p>
                                                    <a href="#" class="reply">Reply</a>
                                                </p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form action="#" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input type="url" class="form-control" id="website">
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>
                </div>

            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box mb-0 py-0">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="row">
                        <div class="col-md-12 d-flex mb-sm-4 ftco-animate">
                            <div class="staff w-100">
                                <h3 class="text-primary text-center">Top Donation for this Cause</h3>
                            </div>
                        </div>
                        @Html.Action("SingleTopDonate", "Home", new { id = Model.Id })
                        <div class="col-md-12 d-flex mb-sm-4 ftco-animate">
                            <div class="staff w-100">
                                <div class="text text-center">
                                    <a href="@Url.Action("CausesDonate", "Home", new {id = Model.Id})">
                                        View More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <ul class="categories">
                        <li>
                            <h3>Categories</h3>
                        </li>
                        <li>
                            <a href="#">Tour <span>(12)</span></a>
                        </li>
                        <li>
                            <a href="#">Hotel <span>(22)</span></a>
                        </li>
                        <li>
                            <a href="#">Coffee <span>(37)</span></a>
                        </li>
                        <li>
                            <a href="#">Drinks <span>(42)</span></a>
                        </li>
                        <li>
                            <a href="#">Foods <span>(14)</span></a>
                        </li>
                        <li>
                            <a href="#">Travel <span>(140)</span></a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Recent Cause</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="Cause-img mr-4" style="background-image: url(/Content/HomepageTheme/images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading">
                                <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                            </h3>
                            <div class="meta">
                                <div>
                                    <a href="#"><span class="icon-calendar"></span> July 12, 2018</a>
                                </div>
                                <div>
                                    <a href="#"><span class="icon-person"></span> Admin</a>
                                </div>
                                <div>
                                    <a href="#"><span class="icon-chat"></span> 19</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="Cause-img mr-4" style="background-image: url(/Content/HomepageTheme/images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading">
                                <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                            </h3>
                            <div class="meta">
                                <div>
                                    <a href="#"><span class="icon-calendar"></span> July 12, 2018</a>
                                </div>
                                <div>
                                    <a href="#"><span class="icon-person"></span> Admin</a>
                                </div>
                                <div>
                                    <a href="#"><span class="icon-chat"></span> 19</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="Cause-img mr-4" style="background-image: url(/Content/HomepageTheme/images/image_3.jpg);"></a>
                        <div class="text">
                            <h3 class="heading">
                                <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                            </h3>
                            <div class="meta">
                                <div>
                                    <a href="#"><span class="icon-calendar"></span> July 12, 2018</a>
                                </div>
                                <div>
                                    <a href="#"><span class="icon-person"></span> Admin</a>
                                </div>
                                <div>
                                    <a href="#"><span class="icon-chat"></span> 19</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">dish</a>
                        <a href="#" class="tag-cloud-link">menu</a>
                        <a href="#" class="tag-cloud-link">food</a>
                        <a href="#" class="tag-cloud-link">sweet</a>
                        <a href="#" class="tag-cloud-link">tasty</a>
                        <a href="#" class="tag-cloud-link">delicious</a>
                        <a href="#" class="tag-cloud-link">desserts</a>
                        <a href="#" class="tag-cloud-link">drinks</a>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>

        </div>
    </div>
</section> <!-- .section -->
@section modalSize
{modal-sm}
@section modalTitle
{
    <text>
        Donate with
        <span>
            <img style="max-height: 10px; margin-bottom: 15px"
                 src="https://res.cloudinary.com/senbonzakura/image/upload/v1582377977/Give%20Aid%20Project/vnpaylogo_hgu1jj.png" alt="" />
        </span>
    </text>
}
@section modalBody
{
    @if (User.Identity.IsAuthenticated)
    {
        <form action="@Url.Action("Donate", "VNpay")" name="vnPayForm"
              id="vnPayForm" method="post" target="_top">
            @Html.Hidden("userId", User.Identity.GetUserId())
            @Html.Hidden("projectId", Model.Id)
            <div class="form-group">
                <label for="amountVnpay">Amount: </label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text bg-primary text-white">$</span>
                    </div>
                    <input type="text" id="amountVnpay" name="amountVnpay" min="1" value="1"
                           class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append ">
                        <button type="submit" class="btn btn-primary ml-auto">Donate</button>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex mb-0">
                <img style="max-height: 20px" class="ml-auto my-auto"
                     src="https://res.cloudinary.com/senbonzakura/image/upload/v1582377977/Give%20Aid%20Project/vnpaylogo_hgu1jj.png" alt="" />
            </div>
        </form>
    }
}
@section scripts
{
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $(function () {
                $("#paypalbtn").click(function() {
                    $("#paypalForm").submit();
                });
            });
        </script>
    }
    <script>
        var value = $("#ariaValuenowInput").val(),
            i = value < 100 ? 0 : 99;
        var progressBar = $(".cause-progress");
        function countNumbers() {
            if (i < value) {
                if (i < value - 5) {
                    i += 5;
                } else if (i < value - 3) {
                    i += 3;
                } else {
                    i++;
                }
                progressBar.css("width", i + "%");
            }
            // Wait for sometime before running this script again
            setTimeout("countNumbers()", 20);
        }
        $(function () {
            countNumbers();
        });
    </script>
}
