@model IEnumerable<GiveAidCharity.Models.HelperClass.DonationsListViewModel>


@{
    ViewBag.Title = "Donations";
}
@section hero_wrap
{
    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="@Url.Action("Index")">Home</a></span> <span>Donations</span></p>
    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Donations</h1>
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/HomepageTheme/images/person_1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="#">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$300</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/HomepageTheme/images/person_1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="#">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$300</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/HomepageTheme/images/person_1.jpg);"></div>
                        <div class="info ml-4">
                            <h3><a href="#">Ivan Jacobson</a></h3>
                            <span class="position">Donated Just now</span>
                            <div class="text">
                                <p>Donated <span>$300</span> for <a href="#">Children Needs Food</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                    <div class="staff">
                        <div class="d-flex mb-4">
                            <div class="img" style="background-image: url(/Content/HomepageTheme/images/person_2.jpg);"></div>
                            <div class="info ml-4">
                                <h3><a href="#">@item.Username</a></h3>
                                <span class="position">@item.DonateDate</span>
                                <div class="text">
                                    <p>Donated <span>$@item.Amount</span> for <a href="@Url.Action("Causes", new{id = item.Cause.Id})">@item.Cause.Name</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @*<div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
    </div>
</section>

<section class="ftco-section-3 img" style="background-image: url(/Content/HomepageTheme/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-2 align-self-stretch" style="background-image: url(/Content/HomepageTheme/images/bg_4.jpg);"></div>
            </div>
            <div class="col-md-6 volunteer pl-md-5 ftco-animate">
                <h3 class="mb-3">Be a volunteer</h3>
                <form action="#" class="volunter-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>




@*<h2>Donations</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                </td>
            </tr>
        }

    </table>*@
